.DS_Store
work/
classes/

.classpath
**/.classpath
**/.project
**/.settings/
target/
**/.checkstyle
**/.checkstyle-rules
**/.fbprefs
**/.findbugs-excludes
**/.pmd
**/.ruleset
**/bin/
*.swp
*.iml
*.ipr
*.iws
.DS_Store
rebel.xml
.idea
